:root{
    --base-color : #37517E;
}
.hero-container{
    background-color: var(--base-color);
}
nav a{
    color: white !important;
}
.dropdown-menu a{
    color: black !important;
}
.animate-image{
    animation: move 1.2s ease-in-out infinite alternate;
}
@keyframes move{
    from{
        transform: translateY(-10px);
    }to{
       transform: translateY(10px);
    }
}
.text-blue{
    color: var(--base-color) !important;
}
.hover-info{
    transition: all 0.4s;
}
.hover-info:hover{
    color: var(--bs-info) !important;
}
.my-btn:active{
    scale: 0.95;
}
.text-sm{
    font-size: 0.8rem !important;
}
.gray{
    width: 150px;
    height: 2px;
    background-color:lightgrey !important;
    margin: auto;
    position: relative;
}
.blue{
    width: 70px;
    height: 3px;
    background-color:var(--bs-info);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  .steps-number {
    position: -30;
    padding: 2rem;
    left: 30px;
    top: -30px;
    width: 60px;
    height: 60px;
    background: #268dee !important;
    color:white !important;
    border-radius: 50%;
    font-family: var(--heading-font);
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
