:root{
    --base-color : #37517E;
}
.hero-container{
    background-color: var(--base-color);
}
nav a{
    color: white !important;
}
.dropdown-menu a{
    color: black !important;
}
.animate-image{
    animation: move 1.2s ease-in-out 
    infinite alternate;
}
.work-card:hover img{
     scale: 1.1;
}
.work-card:hover .content{
     transform: translateY(-5px);
}
.work-card:hover{
     transform: translateY(-5px);
}
.work-card:hover{
     transition: all 0.4s;
}
.work-card img{
     transition: all 0.4s;
}
.work-card .content{
     transition: all 0.4s;
}
.work-card h2{
    z-index: 333;
    position: relative;
}
@keyframes move{
    from{
        transform: translateY(-10px);
    }to{
       transform: translateY(10px);
    }
}
.text-blue{
    color: var(--base-color) !important;
}
.hover-info{
    transition: all 0.4s;
}
.hover-info:hover{
    color: var(--bs-info) !important;
}
.my-btn:active{
    scale: 0.95;
}
.text-sm{
    font-size: 0.8rem !important;
}
.gray{
    width: 150px;
    height: 2px;
    background-color:lightgrey !important;
    margin: auto;
    position: relative;
}
.blue{
    width: 70px;
    height: 3px;
    background-color:var(--bs-info);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
 .imge-container{
    background:linear-gradient(to right,rgba(68,92,125,0.5),rgba(68,92,125,0.7)) , url("https://builder.bootstrapmade.com/static/img/bg/bg-8.webp") fixed;
 }
 
 .img-container{
    overflow: hidden;
 }


 .overlay{
    bottom: 0;
    transform: translateY(80px);
    transition: all 0.2s;
    background: rgba(255,255,255,0.8);
 }

 .img-container:hover .overlay{
    transform: translateY(0);
 }